@import url('https://fonts.googleapis.com/css2?family=&display=swap');

$accent:#ffc100;
$primary:#c66b3d;
$secondary:#c4a35a;
$base:#383838;

.hero-wrapper{
    color:#dfdbdb;
    padding-bottom: 100px;
}
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $base;
}
h1{
    font-size: 40px;
}
ion-icon{
    margin-right: 30px;
    margin-top: 15px;
    font-size:25px;
    color:#ffc100;
}
.btn{
    margin-top: 30px;
}
.btn-primary{
    height: 50px;
    border-radius: 5px;
    padding: 0rem 2rem ;
    text-transform: uppercase;
    color:white;
    text-align: center;
    background-color: $accent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;

    
    &:hover{
      transform: scale(1.1);
      transition: ease-in-out 0.2s;
      
    }
  }
  
  
  
  .btn-secondary{
    white-space: nowrap;
    background-color: transparent;
    border:1px solid $accent;
    padding: 1rem 2rem;
    color:$accent;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    height: 50px;
  
    &:hover{
      border:2px solid $accent;
      transform: scale(1.1);
      transition: ease-in-out 0.2s;
    }
    
  }
nav{
    padding: 30px 100px;
    margin-left: -30px;
    display: flex;
    justify-content: space-between;
    img{
        margin-top: -20px;
        height: 90px;
        width: 120px;
    }
}

nav ul li{
    cursor: pointer;
    list-style-type: none;
    margin-right: 50px;
    font-size: 1.2rem;
    &:hover{
        font-weight: bold;
    }
}

nav ul {
    display: flex;
}

.hero{
    display: flex;
    margin:3rem;
    justify-content: space-around;
}

.cta{
    width: 40%;
    p{
        font-size: 1.2rem;
    }
}

.image img{
    width: 600px;
    height: 400px;
}



// <!------------ABOUT US------------------->
.about-wrapper{
  h1{
    text-align: center;
    text-transform: uppercase;
    color:#ffc100;
  }
}
.about{
  margin:5rem;
  display: flex;
  img{
    height: 500px;;
    width: 400px;
  }
}
 .tabs {
	display: flex;
	flex-wrap: wrap; 
}
.tabs label {
	order: 1; 
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #ffc100;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; 
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}


//  <!------------CATALOG------------------->

body {
	background: linear-gradient(264deg, rgba(23,23,23,1) 0%, rgba(33,33,33,1) 49%, rgba(23,23,23,1) 100%);
	font-family: 'Open Sans', sans-serif;
	margin: 0; 
}
#container {
  margin: auto;
}



.grid-item {
display: inline-block;
    height: 259px;

    overflow: hidden;
    text-align: center;
    width: 400px;
}
.grid-item img{
	width:100%;
	height:auto;
	filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: 0.9s;
}
.grid-item img:hover{
    filter: none;
}

.isotope-pager .pager {
  display: inline-block;
}
.filters {
	width: 100%;
	text-align: center;
	padding-bottom: 35px;
	padding-top:20px;
	
}

.filters ul {
	list-style: none;
    padding: 20px 10px;
    box-shadow: -1px 1px 11px rgba(0,0,0,.4);
    margin: 0 40px;
    border-radius: 30px;
	background-color: #232323;
}

.filters li {
	display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.filters li a{
	color: #b6b6b6;
	text-decoration: none;
}
.filters li a:hover{
	color:#fff;
}

.filters li:hover {
	box-shadow: -1px 1px 11px rgba(0,0,0,.4);
	border-radius: 15px;
}

.filters li.active a{
	color: #e3ca66;
	border: 1px solid #e3ca66;
	border-radius: 15px;
	box-shadow: -1px 1px 11px rgba(0,0,0,.4);
	padding: 10px 25px;
	
}



.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.grid-item:hover .overlay {
  opacity: 1;
}


